.App {
  display: flex;

}
.countrysList{
  border-right: 2px solid black;
  width: 400px;
}
.countryWrapper{
  margin: 50px;

}
.name{
  margin-left: 200px;
  position: relative;
}
.flag{
  width: 150px;
  margin-left: 200px;
  padding-top: 50px;
  position: absolute;
}
.border{
  margin-top: 50px;
}
